<div class="row">
  <div class="col-md-6 col-lg-3 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-md-center">
          <i class="mdi mdi-basket icon-lg text-success"></i>
          <div class="ml-3">
            <p class="mb-0">Người Dùng</p>
            <h6>12569</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-md-center">
          <i class="mdi mdi-rocket icon-lg text-warning"></i>
          <div class="ml-3">
            <p class="mb-0">Lớp</p>
            <h6>2346</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-md-center">
          <i class="mdi mdi-diamond icon-lg text-info"></i>
          <div class="ml-3">
            <p class="mb-0">Nhân Viên</p>
            <h6>896546</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-md-center">
          <i class="mdi mdi-chart-line-stacked icon-lg text-danger"></i>
          <div class="ml-3">
            <p class="mb-0">Total Revenue</p>
            <h6>$ 56000</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body card-chart">
        <h4 class="card-title">Biểu đồ người dùng</h4>
        <div class="google-chart-container d-flex align-items-center justify-content-center h-100">
          <div id="Bar-chart" class="google-charts">
            <div style="position: relative; width: 452px; height: 280px;">
              <div style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;"><svg width="452"
                  height="280">
                  <defs>
                    <filter x="-100%" y="-100%" width="300%" height="300%" id="rablfilter5">
                      <feGaussianBlur in="SourceAlpha" stdDeviation="2"></feGaussianBlur>
                      <feOffset dx="0" dy="0"></feOffset>
                      <feComponentTransfer>
                        <feFuncA type="linear" slope="0"></feFuncA>
                      </feComponentTransfer>
                      <feMerge>
                        <feMergeNode></feMergeNode>
                        <feMergeNode in="SourceGraphic"></feMergeNode>
                      </feMerge>
                    </filter>
                    <filter x="-100%" y="-100%" width="300%" height="300%" id="rablfilter4">
                      <feGaussianBlur in="SourceAlpha" stdDeviation="2"></feGaussianBlur>
                      <feOffset dx="0" dy="0"></feOffset>
                      <feComponentTransfer>
                        <feFuncA type="linear" slope="0.4"></feFuncA>
                      </feComponentTransfer>
                      <feMerge>
                        <feMergeNode></feMergeNode>
                        <feMergeNode in="SourceGraphic"></feMergeNode>
                      </feMerge>
                    </filter>
                    <filter x="-100%" y="-100%" width="300%" height="300%" id="rablfilter3">
                      <feGaussianBlur in="SourceAlpha" stdDeviation="1"></feGaussianBlur>
                      <feOffset dx="0" dy="2"></feOffset>
                      <feComponentTransfer>
                        <feFuncA type="linear" slope="0.2"></feFuncA>
                      </feComponentTransfer>
                      <feMerge>
                        <feMergeNode></feMergeNode>
                        <feMergeNode in="SourceGraphic"></feMergeNode>
                      </feMerge>
                    </filter>
                    <filter x="-100%" y="-100%" width="300%" height="300%" id="rablfilter2">
                      <feGaussianBlur in="SourceAlpha" stdDeviation="2"></feGaussianBlur>
                      <feOffset dx="0" dy="1"></feOffset>
                      <feComponentTransfer>
                        <feFuncA type="linear" slope="0.4"></feFuncA>
                      </feComponentTransfer>
                      <feMerge>
                        <feMergeNode></feMergeNode>
                        <feMergeNode in="SourceGraphic"></feMergeNode>
                      </feMerge>
                    </filter>
                    <filter x="-100%" y="-100%" width="300%" height="300%" id="rablfilter1">
                      <feGaussianBlur in="SourceAlpha" stdDeviation="0"></feGaussianBlur>
                      <feOffset dx="0" dy="1"></feOffset>
                      <feComponentTransfer>
                        <feFuncA type="linear" slope="0.4"></feFuncA>
                      </feComponentTransfer>
                      <feMerge>
                        <feMergeNode></feMergeNode>
                        <feMergeNode in="SourceGraphic"></feMergeNode>
                      </feMerge>
                    </filter>
                    <clipPath id="rablfilter0">
                      <rect x="20.5" y="7.5" width="431" height="220"></rect>
                    </clipPath>
                  </defs>
                  <g>
                    <rect x="0" y="0" width="452" height="280" fill="white" stroke="black" stroke-width="0"></rect>
                    <rect x="20.5" y="7.5" width="431" height="220" fill="none"></rect>
                  </g>
                  <g>
                    <line x1="20.5" x2="451.5" y1="227.5" y2="227.5" stroke="#9E9E9E" stroke-width="1"></line>
                    <line x1="20.5" x2="451.5" y1="183.5" y2="183.5" stroke="#E0E0E0" stroke-width="1"></line>
                    <line x1="20.5" x2="451.5" y1="139.5" y2="139.5" stroke="#E0E0E0" stroke-width="1"></line>
                    <line x1="20.5" x2="451.5" y1="95.5" y2="95.5" stroke="#E0E0E0" stroke-width="1"></line>
                    <line x1="20.5" x2="451.5" y1="51.5" y2="51.5" stroke="#E0E0E0" stroke-width="1"></line>
                    <line x1="20.5" x2="451.5" y1="7.5" y2="7.5" stroke="#E0E0E0" stroke-width="1"></line>
                  </g>
                  <g>
                    <path
                      d="M 86.89247311827955 34.400000000000006 A 2 2 0 0 1 88.89247311827955 36.400000000000006 L 88.89247311827955 227 A 0 0 0 0 1 88.89247311827955 227 L 33 227 A 0 0 0 0 1 33 227 L 33 36.400000000000006 A 2 2 0 0 1 35 34.400000000000006 Z"
                      fill="#76c1fa" clip-path="url(#rablfilter0)"></path>
                    <path
                      d="M 174.41935483870967 91.6 A 2 2 0 0 1 176.41935483870967 93.6 L 176.41935483870967 227 A 0 0 0 0 1 176.41935483870967 227 L 120.5268817204301 227 A 0 0 0 0 1 120.5268817204301 227 L 120.5268817204301 93.6 A 2 2 0 0 1 122.5268817204301 91.6 Z"
                      fill="#76c1fa" clip-path="url(#rablfilter0)"></path>
                    <path
                      d="M 261.94623655913983 175.2 A 2 2 0 0 1 263.94623655913983 177.2 L 263.94623655913983 227 A 0 0 0 0 1 263.94623655913983 227 L 208.05376344086017 227 A 0 0 0 0 1 208.05376344086017 227 L 208.05376344086017 177.2 A 2 2 0 0 1 210.05376344086017 175.2 Z"
                      fill="#76c1fa" clip-path="url(#rablfilter0)"></path>
                    <path
                      d="M 349.47311827956986 184 A 2 2 0 0 1 351.47311827956986 186 L 351.47311827956986 227 A 0 0 0 0 1 351.47311827956986 227 L 295.5806451612903 227 A 0 0 0 0 1 295.5806451612903 227 L 295.5806451612903 186 A 2 2 0 0 1 297.5806451612903 184 Z"
                      fill="#76c1fa" clip-path="url(#rablfilter0)"></path>
                    <path
                      d="M 437 214.79999999999998 A 2 2 0 0 1 439 216.79999999999998 L 439 227 A 0 0 0 0 1 439 227 L 383.1075268817204 227 A 0 0 0 0 1 383.1075268817204 227 L 383.1075268817204 216.79999999999998 A 2 2 0 0 1 385.1075268817204 214.79999999999998 Z"
                      fill="#76c1fa" clip-path="url(#rablfilter0)"></path>
                  </g>
                  <g></g>
                  <g><text x="60.94623655913978" y="244.5"
                      style="cursor: default; user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto; font-size: 12px;"
                      fill="#757575" dx="-43.904296875px">King's pawn (e4)</text><text x="236" y="244.5"
                      style="cursor: default; user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto; font-size: 12px;"
                      fill="#757575" dx="-57.486328125px">Knight to King 3 (Nf3)</text><text x="411.0537634408602"
                      y="244.5"
                      style="cursor: default; user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto; font-size: 12px;"
                      fill="#757575" dx="-14.5986328125px">Other</text><text x="14.5" y="231.5"
                      style="cursor: default; user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto; font-size: 12px;"
                      fill="#757575" dx="-6.73828125px">0</text><text x="14.5" y="187.5"
                      style="cursor: default; user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto; font-size: 12px;"
                      fill="#757575" dx="-13.4765625px">10</text><text x="14.5" y="143.5"
                      style="cursor: default; user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto; font-size: 12px;"
                      fill="#757575" dx="-13.4765625px">20</text><text x="14.5" y="99.5"
                      style="cursor: default; user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto; font-size: 12px;"
                      fill="#757575" dx="-13.4765625px">30</text><text x="14.5" y="55.5"
                      style="cursor: default; user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto; font-size: 12px;"
                      fill="#757575" dx="-13.4765625px">40</text><text x="14.5" y="11.5"
                      style="cursor: default; user-select: none; -webkit-font-smoothing: antialiased; font-family: Roboto; font-size: 12px;"
                      fill="#757575" dx="-13.4765625px">50</text></g>
                  <g></g>
                  <g></g>
                  <g></g>
                </svg></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 stretch-card">
    <div class="row flex-grow">
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title mb-0">Statistics</h6>
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-inline-block pt-3">
                <div class="d-lg-flex">
                  <h2 class="mb-0">$10,200</h2>
                  <div class="d-flex align-items-center ml-lg-2">
                    <i class="mdi mdi-clock text-muted"></i>
                    <small class="ml-1 mb-0">Updated: 9:10am</small>
                  </div>
                </div>
                <small class="text-gray">Raised from 89 orders.</small>
              </div>
              <div class="d-inline-block">
                <div class="bg-success px-3 px-md-4 py-2 rounded">
                  <i class="mdi mdi-buffer text-white icon-lg"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title mb-0">Daily Order</h6>
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-inline-block pt-3">
                <div class="d-lg-flex">
                  <h2 class="mb-0">$2256</h2>
                  <div class="d-flex align-items-center ml-lg-2">
                    <i class="mdi mdi-clock text-muted"></i>
                    <small class="ml-1 mb-0">Updated: 05:42pm</small>
                  </div>
                </div>
                <small class="text-gray">hey, let’s have lunch together</small>
              </div>
              <div class="d-inline-block">
                <div class="bg-warning px-3 px-md-4 py-2 rounded">
                  <i class="mdi mdi-wallet text-white icon-lg"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
