.navbar-brand-wrapper .navbar-brand img {
  width: 200px;
  max-width: 100%;
  height: 51px;
  margin: auto;
  vertical-align: middle;
}

@media (max-width: 420px) {
  .languageDropdownMobile {
    left: 110px !important;
    min-width: calc(100% - 122px) !important;
  }
}

.wp-inner {
  padding-top: 40px ;
}

.btn-logout {
  &:hover {
    cursor: pointer;
  }
}
